@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  color: var(--water);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--grass);
  background: none;
}
